:root {
	--gray-900: hsl(0, 6%, 24%);
	--pink-400: hsl(0, 36%, 70%);
	--red-500: hsl(0, 93%, 68%);

	--surface-gradient: linear-gradient(
		135deg,
		hsl(0, 0%, 100%),
		hsl(0, 100%, 98%)
	);

	--accent-gradient: linear-gradient(
		135deg,
		hsl(0, 80%, 86%),
		hsl(0, 74%, 74%)
	);

	--font-primary: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-style: normal;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1;
	margin: 0;
}

p {
	color: var(--pink-400);
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.masthead {
	padding: 2rem;
}

/* Image replacement */
.logo {
	background-image: url("../images/logo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 33px;
	width: 158px;
}

/* Visually hidden text */
.logo__screen-reader-only {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
	padding-bottom: 4rem;
}

.intro {
	padding: 4rem 2rem 2rem;
	text-align: center;
}

.intro__title {
	color: var(--gray-900);
	font-size: 3rem;
	letter-spacing: 1rem;
	margin-bottom: 1rem;
	text-transform: uppercase;

	span {
		color: var(--pink-400);
		font-weight: 200;
	}
}

.form-group {
	text-align: center;
}

.input {
	border-radius: 4rem;
	border: 1px solid var(--pink-400);
	color: var(--pink-400);
	font-family: var(--font-primary);
	font-size: 1rem;
	height: 3rem;
	padding: 1rem 3.5rem 1rem 1.5rem;
	vertical-align: bottom;

	&:focus {
		border-width: 2px;
		outline: none;
	}
}

.btn {
	background: var(--accent-gradient);
	border-radius: 4rem;
	border: 0;
	cursor: pointer;
	height: 3rem;
	margin-left: -3rem;
	padding: 1rem 1.75rem;
	vertical-align: bottom;
	vertical-align: middle;

	&:focus,
	&:hover {
		box-shadow: .25rem .75rem 2rem rgba(0, 0, 0, .25);
		outline: none;
	}
}
