:root {

}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-style: normal;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

p {
	line-height: 1.5;
}
