:root {
	--gray-900: hsl(0deg 6% 24%);
	--pink-200: hsl(0deg 30% 80%);
	--pink-400: hsl(0deg 36% 70%);
	--red-500: hsl(0deg 93% 68%);

	--surface-gradient:
		linear-gradient(
			135deg,
			hsl(0deg 0% 100%),
			hsl(0deg 100% 98%)
		);

	--accent-gradient:
		linear-gradient(
			135deg,
			hsl(0deg 80% 86%),
			hsl(0deg 74% 74%)
		);

	--font-primary: 'Josefin Sans', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: var(--surface-gradient);
	font-family: var(--font-primary);
	font-style: normal;
	margin: 0;
	min-height: 100vh; /* Ensure gradient covers full viewport height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

p {
	color: var(--pink-400);
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.masthead {
	padding: 2rem;
}

/* Image replacement */
.logo {
	background-image: url('../images/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 33px;
	width: 158px;

	&:focus {
		outline: none;
		padding: 1rem;
		box-shadow: 0 0 1rem 0.25rem rgba(206 151 151 / 50%); /* Soft pink glow */
	}
}

/* Visually hidden text */
.logo__screen-reader-only {
	border: none;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
	padding-bottom: 4rem;
}

.intro {
	padding: 4rem 2rem 2rem;
	text-align: center;
}

.intro__title {
	color: var(--gray-900);
	font-size: 3rem;
	letter-spacing: 1rem;
	margin-bottom: 1rem;
	text-transform: uppercase;

	span {
		color: var(--pink-400);
		font-weight: 200;
	}
}

.form-group {
	max-width: 400px;
	padding-left: 2rem;
	padding-right: 2rem;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.form-group__error-icon {
	display: none;
	left: 16rem;
	position: absolute;
	top: 0.75rem;
}

.form-group__error-message {
	display: none;
	color: var(--red-500);
	padding-left: 1.5rem;
	text-align: left;
	padding-top: 1rem;
}

.input {
	border-radius: 4rem;
	border: 1px solid var(--pink-400);
	color: var(--gray-900);
	font-family: var(--font-primary);
	font-size: 1rem;
	height: 3rem;
	padding: 1rem 4.5rem 1rem 1.5rem;
	vertical-align: bottom;

	&::placeholder {
		color: var(--pink-200);
	}

	&:focus {
		border-width: 2px;
		outline: none;
	}
}

.btn {
	background: var(--accent-gradient);
	border-radius: 4rem;
	border: none;
	cursor: pointer;
	height: 3rem;
	left: 18rem;
	padding: 1rem 1.75rem;
	position: absolute;
	top: 0;
	transition: box-shadow 0.125s ease-in-out;

	&:focus,
	&:hover {
		box-shadow: 0.25rem 0.75rem 2rem rgba(0 0 0 / 25%);
		outline: none;
	}
}

.form-group--error {
	.input {
		border-color: var(--red-500);
		border-width: 2px;
	}

	.btn {
		box-shadow: 0.25rem 0.75rem 2rem rgba(0 0 0 / 25%);
	}

	.form-group__error-icon,
	.form-group__error-message {
		display: block;
	}
}

@media (min-width: 720px) {
	body {
		background-image: url('../images/bg-pattern-desktop.svg');
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.photo {
		img {
			height: 540px;
			object-fit: cover;
			object-position: 50% 15%;
			width: 100%;
		}
	}
}

@media (min-width: 800px) {
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: 100vh;
	}

	.masthead,
	main {
		grid-column: 1; /* Left column */
	}

	.photo {
		grid-column: 2; /* Right column */
		grid-row: 1 / span 2; /* Span full height */

		img,
		source {
			height: 100vh;
			object-fit: cover;
		}
	}

	.intro,
	.form-group {
		text-align: left;
	}

	.intro {
		padding-top: 0;
	}

	.intro p {
		max-width: 28em;
	}

	.form-group {
		max-width: none;
	}
}

@media (min-width: 1080px) {
	.masthead {
		width: 512px; /* 1. Match `main` width for left alignment */
	}

	.masthead,
	main {
		justify-self: center; /* 1 */
	}

	.intro__title {
		font-size: 4rem;
	}

	.btn {
		padding-left: 2.25rem;
		padding-right: 2.25rem;
	}
}
